dialog {
    padding: 1rem 3rem;
    background: white;
    max-width: 300px;
    padding-top: 2rem;
    border-radius: 20px;
    border: 0;
    box-shadow: 0 5px 30px 0 rgb(0 0 0 / 10%);
    animation: fadeIn 1s ease both;
    text-align: center;
    color: white;
    background: linear-gradient(90deg, #fe8c00, #f83600);
    &::backdrop {
        animation: fadeIn 1s ease both;
        background: rgb(255 255 255 / 40%);
        z-index: 2;
        backdrop-filter: blur(20px);
    }
    .x {
        filter: grayscale(1);
        border: none;
        background: none;
        position: absolute;
        top: 15px;
        right: 10px;
        transition: ease filter, transform 0.3s;
        cursor: pointer;
        transform-origin: center;
        &:hover {
            filter: grayscale(0);
            transform: scale(1.1);
        }
    }
    h2 {
        font-weight: 600;
        font-size: 2rem;
        padding-bottom: 1rem;
    }
    p {
        font-size: 1rem;
        line-height: 1.3rem;
        padding: 0.5rem 0;
        a {
            &:visited {
                color: rgb(var(--vs-primary));
            }
        }
    }
}

.emailBtn {
    margin-top: 10px;
    padding: 7px 42px;
    border-radius: 25px;
    background: #ff6900;
    color: white;

}

.emailBtn:hover {
    background: #863901;
}

dialog h2 {
    margin: 0;
}

dialog h3 {
    margin: 0;
}

dialog .ili {
    margin-top: 2%;
}

.whatsappIcon {
    float: left;
    margin-left: 15%;
    margin-top: 3%;
}

.whatsappText {
    float: left;
    margin-top: 3%;
}

.whatsapp {
    margin-top: 6%;
    line-height: 0;
    background: none;
    border-inline: none;
    border-bottom: none;
    text-decoration: underline;
}

a.whatsapp:hover {
    text-decoration-color: #863901;
    color: #863901;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@media (max-width: 1000px) {
    .x {
        width: 100px;
        height: 100px;
    }
}